@model IEnumerable<KarayelTasarimEticaret2016.Models.Urunler>
@using KarayelTasarimEticaret2016.Models;

@{
    Kategoriler Kategori = ViewBag.Kategori as Kategoriler;
    ViewBag.Title = Kategori.KategoriAdi;
    IEnumerable<Kategoriler> KategoriListesi = ViewBag.KategoriListesi as IEnumerable<Kategoriler>;
}

<div class="jumbotron">
    <h1>@Kategori.KategoriAdi</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Kategoriler</h2>
        <ul>
            @foreach (var item in KategoriListesi)
            {
                <li>@Html.ActionLink(item.KategoriAdi, "Kategori", new { id = item.KategoriID })</li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (var item in ViewData.Model)
            {
                <div class="col-md-4" style="border:1px solid #808080">
                    <h5>@item.UrunAdi</h5>
                    <img src="/Resim/@(item.UrunID).jpg" style="max-width:100%;" />

                    <p><a class="btn btn-default" href="@Url.Action("Urun", "Home", new { id= item.UrunID })">Ürün Detay &raquo;</a> <span style="color:red;float:right;font-weight:bold;font-size:16px;">@item.UrunFiyati TL</span></p>
                </div>
            }

        </div>
    </div>
</div>